// @font-face declarations

@font-face {
    font-family: 'Freight';
    src: url('../static/fonts/Freight-TextBold.woff2') format('woff2'),
        url('../static/fonts/Freight-TextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Freight';
    src: url('../static/fonts/Freight-TextBook.woff2') format('woff2'),
        url('../static/fonts/Freight-TextBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freight';
    src: url('../static/fonts/Freight-TextBoldItalic.woff2') format('woff2'),
        url('../static/fonts/Freight-TextBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Freight';
    src: url('../static/fonts/Freight-TextBookItalic.woff2') format('woff2'),
        url('../static/fonts/Freight-TextBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
