// @font-face declarations

@font-face {
    font-family: 'Caponi Display';
    src: url('../static/fonts/CaponiDisplay-Medium.woff2') format('woff2'),
        url('../static/fonts/CaponiDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../static/fonts/AktivGrotesk-Light.woff2') format('woff2'),
        url('../static/fonts/AktivGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../static/fonts/AktivGrotesk-Medium.woff2') format('woff2'),
        url('../static/fonts/AktivGrotesk-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../static/fonts/AktivGrotesk-LightItalic.woff2') format('woff2'),
        url('../static/fonts/AktivGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
