$gutter = 18px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 14px
$font-size-small = $font-size-basic * .75
$font-size-mid = $font-size-basic * 1.25
$font-size-large = $font-size-basic * 1.75

grid-maker(94%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

$header-height = 144px
$footer-height = 253px

body
  overflow-x: hidden

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height));
  ul
    margin-bottom: 1em
    list-style-type: disc
    li
      margin-bottom: .3em

.container
  max-width: 1600px

.border-bottom
  border-bottom: 1px solid $color-blue

.border-top
  border-top: 1px solid $color-blue

#contact
  text-align: center
  padding: $margin-basic 0

#header
  display: flex
  flex-wrap: nowrap

#main-nav
  margin-top: $margin-small
  ul
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around

input,
button,
[type=submit]
  appearance: none
  font-family: $font-sans

.menu-toggle
  margin: $margin-tiny
  padding: $margin-small
  margin-right: 0
  cursor: pointer
  display: inline-block

#header-logo
  width: 100px

.menu-icon
  width: 20px

.current-menu-item
  color: $color-blue

#home-banner
  background-size: cover
  background-position: center
  width: 100%
  height: 50vh
  max-height: 900px

p
  a:link,
  a:visited,
  a:active
    color: $color-blue

.social-link
  margin-left: .4em
  display: inline-block
  img
    height: 1.2em
    width: auto
  &:first-of-type
    margin-left: 0

#mailchimp-email
  background: transparent
  border: none
  border-bottom: 1px solid $color-white
  color: $color-white
  margin-right: $margin-micro
  &::placeholder
    color: $color-grey-lite
    font-family: $font-sans
  &:focus
    outline: none
    &::placeholder
      color: transparent

#mailchimp-submit
  border: none
  background: transparent
  color: $color-white
  cursor: pointer
  font-weight: bold

#mailchimp-response
  position: absolute

#recent-news-list
  padding-left: 2em
  li
    list-style-type: number

.swiper-container
  width: calc('100% - ' + $margin-small)
  margin: 0 auto
  overflow: visible
  .swiper-slide
    width: auto
    height: auto
    margin: 0
    img
      width: auto
      max-height: 200px
    &:not(:first-child)
      padding-left: $margin-tiny
    &:not(:last-child)
      padding-right: $margin-tiny

.swiper-scrollbar
  height: 1px !important
  background-color: $color-grey-dark

.swiper-scrollbar-drag
  height: 10px
  margin-top: -4.5px
  border-radius: 10px
  background-color: $color-grey-dark

.masonry-item
  float: left
  width: 100%
  padding-left: $margin-tiny
  padding-right: $margin-tiny

h1
  font-size: $font-size-large

h2
  font-size: $font-size-mid
  margin-bottom: .3em

.content-section:not(:first-of-type)
  margin-top: $margin-small

#post-content
  & > *
    padding-left: $margin-tiny
    padding-right: $margin-tiny
  p
    max-width: 460px
  .wp-block-image
    max-width: 511px
    font-size: 0
    text-align: center
    figcaption
      color: $color-black
      font-size: $font-size-small
      margin-top: $margin-micro

#footer
  background-color: $color-blue
  color: $color-white
  p
    margin-bottom: 0

#footer-logo
  width: 100px

#footer-logo-holder
  order: -2

#footer-social
  order: -1
  .social-link
    margin-right: 1em
    &:last-of-type
      margin-right: 0
    img
      height: 2em
